@{
    ViewData["Title"] = "Fag el-Gamous";
}

<img src="~/img/pyramids.jpg" />

<div class="text-center">
    <h1 class="display-4">Fag el-Gamous</h1>
    <p>
        https://byu.zoom.us/j/3089014320
        Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological
        investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the
        interesting insights gained by studying the Fag el-Gamous mummies. To view burials, see more on our
        <a asp-area="" asp-controller="Home" asp-action="BurialList">burial pages</a>.
    </p>
</div>